@using Geta.Commerce.Payments.Verifone.HostedPages.Models
@model PaymentInitializationRequest
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @{ Html.RenderPartial("_VerifoneInitializeForm");}      
</div>
</body>
</html>