<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <add name="EPiServerDB"
         connectionString="Data Source=geta-sql-dev-01;Initial Catalog=dbEPiResursBank;User ID=dbUserEPiResursBank;Password=Episerver15;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
    <add name="EcfSqlConnection"
         connectionString="Data Source=geta-sql-dev-01;Initial Catalog=dbEPiResursBankCommerce;User ID=dbUserEPiResursBank;Password=Episerver15;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
</connectionStrings>