<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SimplifiedShopFlowWebServiceImplPortBinding">
          <security mode="Transport">
            <transport clientCredentialType="Basic" realm="Spring Security Application"/>
          </security>
        </binding>
        <binding name="AfterShopFlowWebServiceImplPortBinding">
          <security mode="Transport">
            <transport clientCredentialType="Basic" realm="Spring Security Application"/>
          </security>
        </binding>
        <binding name="ConfigurationWebServiceImplPortBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="ConfigurationWebServiceImplPortBinding1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ResursBankServiceClient.resurs.com/ecommerce-ResursBankServiceClient/ws/V4/SimplifiedShopFlowService" binding="basicHttpBinding" bindingConfiguration="SimplifiedShopFlowWebServiceImplPortBinding" contract="SimplifiedShopFlowService.SimplifiedShopFlowWebService" name="SimplifiedShopFlowWebServiceImplPort"/>
      <endpoint address="https://test.resurs.com/ecommerce-test/ws/V4/AfterShopFlowService" binding="basicHttpBinding" bindingConfiguration="AfterShopFlowWebServiceImplPortBinding" contract="AfterShopFlowService.AfterShopFlowWebService" name="AfterShopFlowWebServiceImplPort"/>
      <endpoint address="https://ecommerce.resurs.com/ws/V4/ConfigurationService" binding="basicHttpBinding" bindingConfiguration="ConfigurationWebServiceImplPortBinding" contract="ConfigurationService.ConfigurationWebService" name="ConfigurationWebServiceImplPort"/>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ResursBank:UserName" value="username"/>
    <add key="ResursBank:Password" value="password"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.6.191" newVersion="3.1.6.191"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.ApplicationModules" publicKeyToken="8fe83dea738b45b7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.9.1.0" newVersion="9.9.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Data.Cache" publicKeyToken="8fe83dea738b45b7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.9.1.0" newVersion="9.9.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Data" publicKeyToken="8fe83dea738b45b7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.9.1.0" newVersion="9.9.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Events" publicKeyToken="8fe83dea738b45b7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.9.1.0" newVersion="9.9.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Framework" publicKeyToken="8fe83dea738b45b7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.9.1.0" newVersion="9.9.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Licensing" publicKeyToken="8fe83dea738b45b7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.9.1.0" newVersion="9.9.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Shell" publicKeyToken="8fe83dea738b45b7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.9.1.0" newVersion="9.9.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
