@model EPiServer.Reference.Commerce.Site.Features.Payment.ViewModels.NetaxeptViewModel 

@Html.HiddenFor(model => model.PaymentMethod.PaymentMethodId)

<div class="alert alert-info">
   Netaxept
</div>