@model Geta.Commerce.Payments.PayPal.PayPalPayment

<div class="quicksilver-well">

    <h4>@Html.Translate("/OrderConfirmation/PaymentDetails")</h4>
    <p>
        Paypal order number: @Model.PayPalOrderNumber
    </p>
</div>